#                                       
#   HMMMMI              MI       MMMMI    MMMMM.  MMI    MM
#   HM: IMMM            MI       MM IMMM  MM  MMM  MM.  MMI
#   HM:    MM   MMMMM   MIMMMM   MM   MM  MM   MM   MM MMI 
#   HM:     MM MM   MM  MM   MM  MM   MM  MMMMMM     MMM.  
#   HM:     MM:MMMMMMM  MI   MM  MMMMMM   MM   MM:   MMM:  
#   HM:    MM .MM       MI   MM  MM       MM    MM  MM MMM 
#   HM: IMMM   MMM  HM  MM  MMI  MM       MM  MMM  MM   MMI
#   HMMMMI      .MMMM   MHMMM    MM       MMMMM   MM     MM
#                                                          
#                                            www.debpbx.org
#                                                          
# pressed.cfg - 2/10/09                                    
#                                                          
# DebPBX-1.2.10                                            
# Author: Federico Pereira <info@opentecnologic.com>       
# Copyright 2008 Federico Pereira (LordBaseX)              
# This script is licensed under GNU GPL version 2.0        
#                                                          


# Advanced options
d-i preseed/late_command string mkdir -p /target/var/www ; cp -ar /cdrom/debpbx/pub /target/var/www ; cp -a /cdrom/debpbx/pub/debpbx/autoinstall /target/root ; chmod +x /target/root/autoinstall ; ln -s /root/autoinstall /target/etc/rc2.d/S99install
